<!--<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button text="" color="dark"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ 'Register' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-progress-bar mode="ios" [value]="index / length"></ion-progress-bar>

  <ion-slides (ionSlideWillChange)="slides_changed ()" pager="false" [options]="slideOpts">
    <ion-slide>
      <form [formGroup]="form_usernick">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <h1 class="ion-text-center">{{ 'Type your nick' | translate }}</h1>
            <p class="color-plomo ion-text-center">
              {{ 'This is how you will appear in Seeking' | translate }}
            </p>
            <ion-item class="item-llamas ion-item-center" lines="none">
              <ion-input (keyup.enter)="next_step ()" formControlName="usernick" type="text" class="input-llmas"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      </form>
    </ion-slide>

    <ion-slide>
      <form [formGroup]="form_birthday">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <h1 class="ion-text-center">{{ 'Great!' | translate }} {{ form_usernick.value.usernick }} {{ 'Your date of birth?' | translate }}</h1>
            <p class="color-plomo ion-text-center">
              {{ 'We require this to confirm that you are over 18 years of age' | translate }}
            </p>
          </ion-col>
          <ion-col size="12" class="ion-no-padding">
            <ion-row class="ion-justify-content-center">
              <ion-col size="3" class="col-padding-dia">
                <p class="p-dia-mes-ano">{{ 'Día' | translate }}</p>
                <ion-item lines="none" class="item-dias">
                  <ion-input
                    [class.input-dia-focus]="date_input_focus === 'day'"
                    (ionFocus)="change_focus ('day')"
                    (ionChange)="change_month ($event, 'day')"
                    #day_input
                    (keyup.enter)="set_input_focus ('month_input')"
                    formControlName="day"
                    type="tel"
                    maxlength="2"
                    placeholder="{{ 'DD' | translate }}"
                    class="input-dia">
                  </ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="3" class="col-padding-mes">
                <p class="p-dia-mes-ano">{{ 'Mes' | translate }}</p>
                <ion-item lines="none" class="item-dias">
                  <ion-input
                    [class.input-dia-focus]="date_input_focus === 'month'"
                    (ionFocus)="change_focus ('month')"
                    (ionChange)="change_month ($event, 'month')"
                    #month_input
                    (keyup.enter)="set_input_focus ('year_input')"
                    formControlName="month"
                    type="tel"
                    maxlength="2"
                    placeholder="{{ 'MM' | translate }}"
                    class="input-dia"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="4" class="col-padding-ano" >
                <p class="p-dia-mes-ano">{{ 'Año' | translate }}</p>
                <ion-item lines="none" class="item-dias">
                  <ion-input
                    [class.input-dia-focus]="date_input_focus === 'year'"
                    (ionFocus)="change_focus ('year')"
                    #year_input
                    (keyup.enter)="next_step ()"
                    formControlName="year"
                    type="tel"
                    maxlength="4"
                    placeholder="{{ 'AAAA' | translate }}"
                    class="input-dia">
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
      </form>
    </ion-slide>

    <ion-slide>
      <form [formGroup]="form_sexo">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <h1 class="ion-text-center">{{ 'Your gender' | translate }}</h1>
          </ion-col>
          <ion-col size="12" class="ion-no-padding">
            <ion-list>
              <ion-radio-group formControlName="sexo">            
                <ion-item *ngFor="let item of generos" class="item-radio item-radio-height" lines="none">
                  <ion-label class="label-chech-radio">{{ item.nombre }}</ion-label>
                  <ion-radio slot="start" [value]="item.id"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
      </form>
    </ion-slide>

    <ion-slide>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <h1 class="ion-text-center">{{ 'Interested In' | translate }}</h1>
          </ion-col>
          <ion-col size="12" class="ion-no-padding">
            <ion-list>
              <ion-item *ngFor="let item of generos" class="item-radio item-check-height" lines="none">
                <ion-label class="label-chech-radio">{{ item.nombre }}</ion-label>
                <ion-checkbox (ionChange)="checkbox_changed ($event, item.id, generos_map)" slot="start" class="checbox"></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid class="ion-no-padding" style="width: 100%;">
        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <h1 class="ion-text-center">{{ 'What kind of relationships I seek' | translate }}</h1>
            <p class="color-plomo ion-text-center">{{ 'Check on or may' | translate }}</p>
          </ion-col>
          <ion-col size="12" class="ion-no-padding">
            <ion-list class="list-scroll">
              <ion-item *ngFor="let item of relaciones" lines="none" class="item-radio item-check-height">
                <ion-label class="label-chech-radio">{{ item.nombre }}</ion-label>
                <ion-checkbox (ionChange)="checkbox_changed ($event, item.id, relaciones_map)" slot="start" class="checbox"></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide *ngIf="id === 'null'">
      <form [formGroup]="form_email">
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="12" class="ion-no-padding">
              <h1 class="ion-text-center">{{ 'What is your email address?' | translate }}</h1>
              <!-- <p class="color-plomo ion-text-center">O regístrate con tu número de teléfono</p> -->
              <ion-item class="item-llamas ion-item-center" lines="none">
                <ion-input formControlName="email" placeholder="{{ 'Email' | translate }}" type="email" class="input-llmas"></ion-input>
              </ion-item>
  
              <ion-item class="item-llamas ion-item-center" lines="none">
                <ion-input formControlName="confirm_email" placeholder="{{ 'Confirm Email' | translate }}" type="email" class="input-llmas"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-slide>

    <ion-slide *ngIf="id === 'null'">
      <form [formGroup]="form_password">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <h1 class="ion-text-center">{{ 'Password' | translate }}</h1>
            <ion-item class="item-llamas ion-item-center" lines="none">
              <ion-input formControlName="password" type="password" class="input-llmas"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      </form>
    </ion-slide>

    <ion-slide>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <h1 class="ion-text-center">{{ 'A little smile!' | translate }}<br>{{ 'You need at least one photo to use Seeking' | translate }}</h1>
            <ion-card (click)="selectImageSource ('profile', 0, fileInput)" class="card-foto card-foto-fondo">
              <img *ngIf="profile_image === ''" src="assets/img/iconos_Photo.png">
              <!--<ion-avatar style="width: 100%;height: 100%;">
                <img *ngIf="profile_image !== ''" [src]="get_profile_image ()" alt="">
              </ion-avatar>-->
              <p class="p-subir-foto" *ngIf="profile_image === ''">Subir una foto</p>
              <input hidden multiple type="file" accept="image/*" #fileInput (change)="changeListener($event)">
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <h1 class="ion-text-center">{{ 'Very good photo!' | translate }}<br>{{ 'The more photos you have, the better' | translate }}</h1>
            <div class="div-fotos">
              <ion-card class="card-fotos card-fotos-fondo">
                <ion-avatar>
                  <img [src]="profile_image">
                </ion-avatar>
              </ion-card>
              <ion-card (click)="selectImageSource ('photos', 0)" class="card-fotos card-fotos-fondo-general">
                <ion-icon *ngIf="photos [0] === ''" name="add-outline" class="icon-add"></ion-icon>
                <img *ngIf="photos [0] !== ''" [src]="get_photos_index (0)">
              </ion-card>
              <ion-card (click)="selectImageSource ('photos', 1)" class="card-fotos">
                <ion-icon *ngIf="photos [1] === ''" name="add-outline" class="icon-add"></ion-icon>
                <img *ngIf="photos [1] !== ''" [src]="get_photos_index (1)">
              </ion-card>
              <ion-card (click)="selectImageSource ('photos', 2)" class="card-fotos">
                <ion-icon *ngIf="photos [2] === ''" name="add-outline" class="icon-add"></ion-icon>
                <img *ngIf="photos [2] !== ''" [src]="get_photos_index (2)">
              </ion-card>
              <ion-card (click)="selectImageSource ('photos', 3)" class="card-fotos">
                <ion-icon *ngIf="photos [3] === ''" name="add-outline" class="icon-add"></ion-icon>
                <img *ngIf="photos [3] !== ''" [src]="get_photos_index (3)">
              </ion-card>
              <ion-card (click)="selectImageSource ('photos', 4)" class="card-fotos">
                <ion-icon *ngIf="photos [4] === ''" name="add-outline" class="icon-add"></ion-icon>
                <img *ngIf="photos [4] !== ''" [src]="get_photos_index (4)">
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <form [formGroup]="form_terms">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <h1 class="ion-text-center">{{ 'Terms and Conditions' | translate }}</h1>
            <p class="color-plomo ion-text-center ion-padding-start ion-padding-end">
              {{ 'Promoting illegal commercial activities (such as prostitution) is prohibited. If you are an ESCORT, DO NOT use this website.' | translate }}
            </p>
          </ion-col>

          <ion-col size="12" class="ion-no-padding">
            <ion-list>
              <ion-item lines="none" class="item-radio">
                <ion-label class="label-chech-radio label-policy">{{ 'I agree to the Terms & Privacy Policy.' | translate }}</ion-label>
                <ion-checkbox formControlName="terms" slot="start" class="checbox"></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
      </form>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer class="ion-no-border ion-text-center">
  <ion-button (click)="next_step ()" class="btn-continuar-footer">{{ 'Next' | translate }}</ion-button>
  <p class="p-footer" (click)="back_step ()">{{ 'Go back' | translate }}</p>
</ion-footer>