<!--<ion-header>
  <ion-toolbar>
    <ion-title>permiso-ubicacion</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content class="ion-text-center">
  <h1 class="ion-text-center">Confirm your e-mail</h1>
  <img src="assets/img/img-correo.png">
  <p>In order to have a valida account we need to confirm your e-mail address</p>
  <ion-button (click)="validar_correo ()">Let’s go</ion-button>
</ion-content>
<ion-footer class="ion-no-border ion-text-center">
  <p class="p-top-footer">I didn’t get a code, please <br> <u>resend it to me> </u></p>
</ion-footer>
