<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="get_data ($event, false)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <h1 class="ion-text-center">{{ 'Conversatoins' | translate }}</h1>
  <ion-card class="card-buscador">
    <ion-input placeholder="Search for a sugar user" type="search" class="input-buscador"></ion-input>
    <ion-icon name="search-sharp" class="icon-buscador"></ion-icon>
  </ion-card>
  <div class="div-show-select">
    <h6 class="h6-show">{{ 'Show' | translate }}</h6>
    <ion-card class="card-select">
      <ion-icon name="mail-outline" class="icon-mensaje"></ion-icon>
      <ion-select placeholder="All conversations" mode="ios">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-card>
  </div>
  <ion-item *ngFor="let item of items" (click)="view_chat (item)" class="item-inbox" lines="none">
    <div class="div-linea"></div>
    <ion-avatar>
      <img [src]="item.receptor.thumbnail">
    </ion-avatar>
    <div class="div-datos">
      <ion-label class="nombre-label">{{ item.receptor.usernick }}, {{ item.receptor.edad }}</ion-label>
      <p class="descripcion-label"></p>
    </div>
  </ion-item>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="get_data ($event, true)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer class="ion-no-border" mode="ios">
  <ion-button routerLink="/home" routerDirection="root" mode="ios" class="btn-footer btn-footer-right">
    <img src="assets/img/iconos_Magnifying-glass.png" class="img-buscador-footer">
  </ion-button> 
  <ion-button routerLink="/inbox" routerDirection="root" mode="ios" class="btn-footer btn-footer-right btn-activo-footer">
    <img src="assets/img/iconos_Inbox.png" class="img-chat-footer">
    <!-- <ion-badge class="badge-chat" mode="ios">99</ion-badge> -->
  </ion-button> 
  <ion-button mode="ios" class="btn-footer btn-footer-right">
    <img src="assets/img/iconos_Upgrade.png" class="img-corona-footer">
  </ion-button> 
  <ion-button routerLink="/favorites" routerDirection="root" mode="ios" class="btn-footer btn-footer-right">
    <img src="assets/img/icono-no-favorito.png" class="img-corazon-footer">
  </ion-button> 
  <ion-button routerLink="/profile-menu" routerDirection="root" mode="ios" class="btn-footer">
    <img src="assets/img/iconos_Profile.png" class="img-persona-footer">
  </ion-button> 
</ion-footer>