<!--<ion-header>
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let item of galeria">
      <ion-thumbnail>
        <ion-img [src]="item.imagen"></ion-img>
      </ion-thumbnail>
      <!-- <ion-avatar class="avatar-slider">
        <img [src]="">
      </ion-avatar> -->
    </ion-slide>
  </ion-slides>
  <ion-button class="btn-flecha"><ion-icon name="arrow-down" class="icon-flecha"></ion-icon></ion-button>
  <div class="div-padding-left-right">
    <h1>{{ profile?.usernick }}, {{ profile?.edad }}</h1>
    <p class="p-nombre-lima">{{ profile?.nombre_ciudad }}, {{ profile?.nombre_pais }}. {{ profile?.distance }}</p>
    <p class="p-height">Height <span>{{ profile?.altura }}m</span></p>
    <ion-card class="card-note">
      <ion-note *ngFor="let item of profile?.idiomas" class="note-idioma">
        {{ item.nombre }}
      </ion-note>
    </ion-card>
    <ion-button class="btn-send" mode="ios">Send me a message</ion-button>
  </div>
  <ion-card class="card-texto-blanco">
    <h6 class="h6-titulo">I’m looking for</h6>
    <p class="p-descripcion-card">
      {{ profile?.estoy_buscando }}
    </p>
  </ion-card>
  <div class="div-padding-left-right">
    <h5 class="h5-im">Im interested in…</h5>
    <ion-card class="card-btn">
      <ion-button *ngFor="let item of profile?.intereses" class="btn_blanco" mode="ios">
        {{ item.valor }}
      </ion-button>
    </ion-card>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col *ngFor="let item of profile?.personalidades" size="4" class="col-bottom">
          <p class="p-color-plomo-titulo">{{ item.apariencia }}</p>
          <p class="p-subtitulo-medium">{{ item.valor }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <h5 class="h5-im">About me</h5>
    <p class="p-descripcion-card">
      {{ profile?.acerca_de_mi }}
    </p>
    
    <ng-container *ngFor="let item of profile?.extras">
      <h5 class="h5-im">{{ item.extra }}</h5>
      <p class="p-descripcion-card">
        {{ item.valor }}
      </p>
    </ng-container>
  </div>
  <ion-card class="card-texto-blanco card-top">
    <p class="ion-text-center p-plomo-left">Let me know you like me</p>
    <ion-button class="btn-cara-give"><img src="assets/img/iconos_Wink.png" class="img-cara">Give me a wink</ion-button>
  </ion-card>
</ion-content>
<ion-footer class="ion-no-border" mode="ios">
  <ion-button mode="ios" class="btn-footer btn-footer-right">
    <img src="assets/img/iconos_Magnifying-glass.png" class="img-buscador-footer">
  </ion-button> 
  <ion-button mode="ios" class="btn-footer btn-footer-right">
    <img src="assets/img/iconos_Inbox.png" class="img-chat-footer">
    <!-- <ion-badge class="badge-chat" mode="ios">99</ion-badge> -->
  </ion-button> 
  <ion-button mode="ios" class="btn-footer btn-footer-right">
    <img src="assets/img/iconos_Upgrade.png" class="img-corona-footer">
  </ion-button> 
  <ion-button mode="ios" class="btn-footer btn-footer-right">
    <img src="assets/img/icono-favorito.png" class="img-corazon-footer">
  </ion-button> 
  <ion-button mode="ios" class="btn-footer btn-activo-footer">
    <img src="assets/img/iconos_Profile.png" class="img-persona-footer">
  </ion-button> 
</ion-footer>