@font-face{
    font-family: AvenirMedium;
    src : url('/assets/font/Avenir-Medium.ttf')
}
@font-face{
    font-family: AvenirHeavy;
    src : url('/assets/font/Avenir Heavy.ttf')
}
@font-face{
    font-family: Avenirlight;
    src : url('/assets/font/avenirltstd-light.otf')
}
@font-face{
    font-family: AvenirBlack;
    src : url('/assets/font/Avenir-Black.otf')
}
ion-content
{
    --background: #F5F5F5;
    position: relative;
}

#map{
    width: 100%;
    height: 100%;
}

.btn-regresar
{
    position: absolute;
    left: 5px;
    top: 10px;
    --background: transparent;
    --background-activated: transparent;
    z-index: 2;
    margin: 0px;
    .icon-left
    {
        font-size: 30px;
    }
}
h1
{
    color: #333333;
    font-family: AvenirHeavy;
    margin-bottom: 0px;
}
.div-padding-left-right
{
    padding-left: 22px;
    padding-right: 22px;
}
.div-margin-top
{
    margin-top: 26px;
}
.p-nombre-lima
{
    color: #333333;
    font-family: AvenirMedium;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 20px;
}
.p-height
{
    font-family: AvenirBlack;
    color: #555555;
    font-size: 13px;
    margin-top: 0px;
    span
    {
        font-family: AvenirMedium;
    }
}
.card-note
{
    margin: 0px;
    background: transparent;
    box-shadow: none;
    height: auto;
    padding: 5px 0px;
    .note-idioma
    {
        --color: #fff;
        background: #C89530;
        border-radius: 18px;
        font-family: AvenirMedium;
        padding: 3px 20px;
        margin-right: 6px;
    }
}

.p-descripcion-card
    {
        color: #555555;
        font-family: AvenirMedium;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    
.card-texto-blanco
{
    background-color: #fff;
    border: 1px solid #DAD8DB;
    margin: 0px;
    border-radius: 0px;
    padding: 20px 20px;
    margin-top: 15px;
    .h6-titulo
    {
        font-family: AvenirHeavy;
        color: #333333;
        font-size: 20px;
        margin: 0px;
    }
    .p-descripcion-card
    {
        color: #555555;
        font-family: AvenirMedium;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .p-plomo-left
    {
        color: #555555;
        font-family: AvenirMedium;
        margin: 0px;
    }
    .btn-cara-give
    {
        --background: #77BDF0;
        --color: #FFFFFF;
        font-family: AvenirHeavy;
        text-transform: none;
        --border-radius: 23px;
        position: relative;
        --padding-start: 0px;
        --padding-end: 0px;
        margin: 0px;
        height: 50px;
        width: 80%;
        margin-left: 10%;
        margin-top: 10px;
        font-size: 20px;
        .img-cara
        {
            position: absolute;
            left: 10px;
            z-index: 1;
            width: 30px;
        }
    }
}
.card-top
{
    margin-top: 46px;
}
.h5-im
{
    font-family: AvenirHeavy;
    color: #333333;
    font-size: 20px;
    margin-top: 26px;
}
.card-btn
{
    background: transparent;
    box-shadow: none;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.btn_blanco
{
  --border-radius: 8px;
  --background: #FFFFFF;
  --border-color: #E6E6E6;
  --color: #555555;
  font-family: AvenirMedium;
  --border-style: solid;
  --border-width: 1px;
  margin-right: 5px;
  --background-activated:  #FFFFFF;
}
.btn_activo
{
  --border-radius: 8px;
  --background: #77BDF0;
  --border-color: #FFFFFF;
  --color: #FFFFFF;
  font-family: AvenirMedium;
  --border-style: solid;
  --border-width: 1px;
  margin-right: 5px;
  --background-activated:  #77BDF0;
}
.p-color-plomo-titulo
{
    color: #555555;
    font-family: AvenirBlack;
    margin: 0px;
    font-size: 14px;
}
.p-subtitulo-medium
{
    color: #555555;
    font-family: AvenirMedium;
    margin: 0px;
    margin-top: 4px;
    font-size: 14px;
}
.col-bottom
{
    margin-bottom: 25px;
}
ion-slides
{
    --bullet-background: #ffffff;
    --bullet-opacity: 1;
    --bullet-width: 30px;
    --bullet-background-active: #C89530;
    z-index: 0;
    ion-thumbnail
    {
        width: 100%;
        --border-radius: 0px;
        height: 420px;
        ion-img
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.btn-flecha
{
    float: right;
    --background: #CB9229;
    --border-radius: 50%;
    --padding-start: 0px;
    --padding-end: 0px;
    width: 50px;
    height: 50px;
    margin: 0px;
    margin-right: 16px;
    margin-top: -25px;
    .icon-flecha
    {
        color: #FFFFFF;
        font-size: 35px;
    }
}
ion-footer
{
    height: 65px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px -3px 6px #00000029;
    .btn-activo-footer
    {
        --background: #F5E9D8 !important;
    }
    .btn-footer
    {
        --background: transparent;
        margin: 0px;
        width: 72px;
        --background-activated: transparent;
        --box-shadow: none;
        position: relative;
        height: 100%;
        --border-radius: 0px;
        .badge-chat
        {
            position: absolute;
            right: -8px;
            bottom: 0;
            --background: #F03C3C;
            --color: #ffffff;
            font-family: AvenirHeavy;
            font-size: 16px;
            border-radius: 50%;
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .img-buscador-footer
        {
            width: 31px;
            height: 31px;
        }
        .img-chat-footer
        {
            width: 32px;
            height: 31px;
        }
        .img-corona-footer
        {
            width: 34px;
            height: 34px;
        }
        .img-corazon-footer
        {
            width: 31px;
            height: 31px;
        }
        .img-persona-footer
        {
            width: 31px;
            height: 31px;
        }
    }
    .btn-footer-right
    {
        border-right: 1px solid #EBEBEB;
    }
}
.btn-send
{
    --background: #77BDF0;
    --background-activated: #77BDF0;
    --border-radius: 23px;
    --box-shadow: 0px 8px 15px #00000029;
    --color: #ffffff;
    font-family: AvenirHeavy;
    height: 50px;
    width: 90%;
    margin-left: 5%;
    font-size: 20px;
    margin-top: 20px;
}
.card-mapa
{
    margin: 0px;
    background-color: transparent;
    border: 8px solid #fff;
    border-radius: 10px;
    margin-top: 26px;
    height: 350px;
    .img-mapa
    {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}
@media (min-width: 411px)
{
    .div-padding-left-right
    {
        padding-left: 3.125rem;
        padding-right: 3.125rem;
    }
    .card-texto-blanco
    {
        padding: 20px 3.125rem;
    }
    ion-footer
    {
        .btn-footer
        {
            width: 82px;
            .badge-chat
            {
                right: -3px;
            }
        }
    }
}
@media (min-width: 480px)
{
    .div-padding-left-right
    {
        padding-left: 3.125rem;
        padding-right: 3.125rem;
    }
    .card-texto-blanco
    {
        padding: 20px 3.125rem;
    }
    ion-footer
    {
        .btn-footer
        {
            width: 96px;
            .badge-chat
            {
                right: 5px;
            }
        }
    }
}
@media (min-width: 640px)
{
    .div-padding-left-right
    {
        padding-left: 7.5rem;
        padding-right: 7.5rem;
    }
    .card-texto-blanco
    {
        padding: 20px 7.5rem;
    }
    ion-footer
    {
        .btn-footer
        {
            width: 128px;
            .badge-chat
            {
                right: 20px;
            }
        }
    }
}
@media (min-width: 768px)
{
    .div-padding-left-right
    {
        padding-left: 12.5rem;
        padding-right: 12.5rem;
    }
    .card-texto-blanco
    {
        padding: 20px 12.5rem;
    }
    ion-footer
    {
        .btn-footer
        {
            width: 153px;
            .badge-chat
            {
                right: 33px;
            }
        }
    }
}
@media (min-width: 1024px)
{
    .div-padding-left-right
    {
        padding-left: 18.75rem;
        padding-right: 18.75rem;
    }
    .card-texto-blanco
    {
        padding: 20px 18.75rem;
    }
    ion-footer
    {
        .btn-footer
        {
            width: 204px;
            .badge-chat
            {
                right: 58px;
            }
        }
    }
}