<ion-content>
  <div class="div-login">
    <form [formGroup]="form">
      <ion-card class="bajar_card">
        <ion-card-content class="ion-text-center">
            <img src="assets/img/Grupo804.png" class="img-logo-genral">
            <ion-item class="item-lenguaje" lines="none">
              <!--<ion-label>Language</ion-label>-->
              <ion-select (ionChange)="change_lan ($event)" placeholder="Language" class="select-lenguaje">
                <ion-select-option value="es">{{ 'Español' | translate }}</ion-select-option>
                <ion-select-option value="en">{{ 'Ingles' | translate }}</ion-select-option>
              </ion-select>
              <ion-icon name="chevron-down-sharp" class="icon-select"></ion-icon>
            </ion-item>
            <h1>{{ 'Log in' | translate }}</h1>
            <ion-input formControlName="email" placeholder="{{ 'User name or email' | translate }}" mode="ios" class="ion-text-start" type="email"></ion-input>
            <ion-input formControlName="password" placeholder="{{ 'Your password' | translate }}" mode="ios" class="ion-text-start" type="password"></ion-input>
            <p class="ion-texto-center quitar_top">{{ 'Forgot your password?' | translate }} <span><u>{{ 'Get a new one.' | translate }}</u></span></p>
            <ion-button mode="ios" class="btn-let-go" (click)="submit ()">{{ 'Lets go' | translate }}</ion-button>
            <div class="div-linea-plomo"></div>
            <ion-button mode="ios" class="btn-faccebook">Facebook</ion-button>
            <ion-button mode="ios" class="btn-google" (click)="google ()">Google</ion-button>
        </ion-card-content>
      </ion-card>
    </form>
    <ion-card class="ion-no-margin">
      <ion-button mode="ios" class="btn_card" (click)="registro ()">{{ 'Im new here. Registe' | translate }}r</ion-button>
    </ion-card>
  </div>
  <!--
  <div class="div-fondo-negro">
    <h1 class="ion-text-center titulo_blanco">{{ 'Why SeekingTerms' | translate }}</h1>
    <div class="ion-text-center">
      <ion-button class="btn-circle-plomo"><ion-icon name="chevron-down"></ion-icon></ion-button>
    </div>
    <ion-list mode="ios" lines="none" >
      <ion-item class="ion-no-padding">
        <img src="assets/img/Grupo722.png">
        <ion-label>{{ '3 In-depth user verifications features' | translate }}</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding">
        <img src="assets/img/Grupo722.png">
        <ion-label>{{ 'Say goodbye to scammers, bots, and catfish' | translate }}</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding">
        <img src="assets/img/Grupo722.png">
        <ion-label>{{ 'Real-time messaging, and phone chat' | translate }}</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding">
        <img src="assets/img/Grupo722.png">
        <ion-label>{{ 'Advanced filters and real-time searching' | translate }}</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding">
        <img src="assets/img/Grupo722.png">
        <ion-label>{{ 'Sugar Babies always free!' | translate }}</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding">
        <img src="assets/img/Grupo722.png">
        <ion-label>{{ 'Elite upgrades & rewards for Sugar Daddies!' | translate }}</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding">
        <img src="assets/img/Grupo722.png">
        <ion-label>{{ 'Send date and travel proposals + create trips' | translate }}</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding">
        <img src="assets/img/Grupo722.png">
        <ion-label>{{ 'Diverse with active members around the world' | translate }}</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding">
        <img src="assets/img/Grupo722.png">
        <ion-label>{{ 'Favorites, winks, gifts, activities, & analytics' | translate }}</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding">
        <img src="assets/img/Grupo722.png">
        <ion-label>{{ 'Most authentic dating platform, try us out!' | translate }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  -->
</ion-content>