<ion-header>
  <ion-toolbar>
    <ion-card class="card-cabezera">
      <div class="div-flex">
        <img src="assets/img/icono-flecha-circle.png" class="img-circle">
        <ion-label class="label-titulo">{{ 'Dont seek, find' | translate }}</ion-label>
        <img src="assets/img/icono-flecha.png" class="img-iguales img-flore">
        <img src="assets/img/iconos_Filtrar.png" (click)="filtrar ()" class="img-iguales img-cuadrado">
      </div>
      <div class="div-botones">
        <ion-button mode="ios" [class.btn-active]="tab_filter === null" class="btn-div" (click)="set_tab (null)">
          {{ 'Show all' | translate }}
        </ion-button>
        <ion-button mode="ios" [class.btn-active]="tab_filter === 'online'" class="btn-div" (click)="set_tab ('online')">
          {{ 'Online now' | translate }}
        </ion-button>
        <ion-button mode="ios" [class.btn-active]="tab_filter === 'verificados'" class="btn-div" (click)="set_tab ('verificados')">
          {{ 'Verified users' | translate }}
        </ion-button>
      </div>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="get_data ($event, false, 'refresher')">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="div-blanco">
    <ion-item class="item-select" lines="none">
      <ion-select class="select-favo" (ionChange)="section_changed ($event)" [(ngModel)]="seccion" interface="popover">
        <ion-select-option value="favoritos">{{ 'Favorites' | translate }}</ion-select-option>
        <ion-select-option value="viewedme">{{ 'Viewed my profile' | translate }}</ion-select-option>
        <ion-select-option value="favoriteme">{{ 'Favorited me' | translate }}</ion-select-option>
        <ion-select-option value="blocked">{{ 'Blocked users' | translate }}</ion-select-option>
      </ion-select>
      <ion-icon name="chevron-down-sharp" class="icon-select"></ion-icon>
    </ion-item>
  </div>

  <ion-list class="div-list-card">
    <div *ngIf="home_loading === true" class="ion-text-center loading-box">
      <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="items.length <= 0 && home_loading === false" class="ion-text-center" style="width: 100%;">
      <ion-item style="--background: transparent;" lines="none" class="ion-text-center">
        <ion-label>
          <h1 class="h1-result">{{ 'No results, check your filters.' | translate }}</h1>
        </ion-label>
      </ion-item>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let item of items">
          <ion-card  class="card-perfil">
            <ion-avatar class="avatar-img">
              <img [src]="item.thumbnail">
              <div class="div-sombra">
                <p class="p-nombre">{{ item.usernick }}</p><div *ngIf="item.online === true" class="div-circulo-activo"></div>
                <div class="item-badge">
                  <p class="label-miles">
                    <span class="span-edad">
                      {{ item.edad }}
                    </span>
                    <span *ngIf="order_by === 'distance'">
                      {{ item.nombre_pais }}, {{ item.distance }}{{ item.distance_format }}
                    </span>
      
                    <span *ngIf="order_by === 'favoritos-desc'">
                      {{ item.favoritos }} {{ 'Likes' | translate }}
                    </span>
      
                    <span *ngIf="order_by === 'edad-desc' || order_by === 'edad-asc'">
                      {{ item.nombre_pais }}
                    </span>
      
                    <span *ngIf="order_by === 'last_seen-desc'">
                      {{ get_relative_format (item.last_seen) }}
                    </span>
      
                    <span *ngIf="order_by === 'created_at-desc'">
                      {{ get_relative_format (item.created_at) }}
                    </span>
                  </p>
                  <ion-badge *ngIf="item.numero_fotos > 0" slot="end" mode="ios" class="badge-style">
                    <ion-icon name="camera" class="icon-camara"></ion-icon>
                    {{ item.numero_fotos }}
                  </ion-badge>
                  <ion-icon name="heart-outline" class="icon-favorito"></ion-icon>
                  <!--Icono activo de favorito
                  <ion-icon name="heart-sharp" class="icon-activo-favorito"></ion-icon>-->
                </div>
              </div>
            </ion-avatar>
            <img src="assets/img/grupo926.png" class="img-circulo-amarrilo">
            <!--<ion-item lines="none" class="item-blanco">
              <ion-button (click)="toggled_favorite (item)" class="btn-iguales-tab btn-border-right">
                <img *ngIf="item.tengo_favorito === false" src="assets/img/icono-no-favorito.png" class="img-widht-igules">
                <img *ngIf="item.tengo_favorito === true" src="assets/img/icono-favorito.png" class="img-widht-igules">
              </ion-button>
              <ion-button (click)="send_wink (item)" class="btn-iguales-tab btn-border-right">
                <img *ngIf="item.wink_loading === false || item.wink_loading === undefined" src="assets/img/iconos-Wink.png" class="img-widht-igules">
                <ion-spinner *ngIf="item.wink_loading === true" color="dark" name="bubbles"></ion-spinner>
              </ion-button>
              <ion-button class="btn-iguales-tab btn-border-right">
                <img src="assets/img/iconos_Inbox.png" class="img-widht-igules">
              </ion-button>
              <ion-button (click)="view_profile (item)" class="btn-iguales-tab">
                <img src="assets/img/iconos_Minimize.png" class="img-right img-width-flecha">
              </ion-button>
            </ion-item>-->
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border" mode="ios">
  <ion-button routerLink="/home" routerDirection="root" mode="ios" class="btn-footer btn-footer-right">
    <img src="assets/img/iconos_Magnifying-glass.png" class="img-buscador-footer">
  </ion-button> 
  <ion-button routerLink="/inbox" routerDirection="root" mode="ios" class="btn-footer btn-footer-right">
    <img src="assets/img/iconos_Inbox.png" class="img-chat-footer">
    <!-- <ion-badge class="badge-chat" mode="ios">99</ion-badge> -->
  </ion-button> 
  <ion-button (click)="open_upgrade_menu ()" mode="ios" class="btn-footer btn-footer-right">
    <img src="assets/img/iconos_Upgrade.png" class="img-corona-footer">
  </ion-button> 
  <ion-button routerLink="/favorites" routerDirection="root" mode="ios" class="btn-footer btn-footer-right btn-activo-footer">
    <img src="assets/img/icono-no-favorito.png" class="img-corazon-footer">
  </ion-button> 
  <ion-button routerLink="/profile-menu" routerDirection="root" mode="ios" class="btn-footer">
    <img src="assets/img/iconos_Profile.png" class="img-persona-footer">
  </ion-button> 
</ion-footer>