<ion-content class="ion-text-center">
  <h1 class="ion-text-center">{{ 'Help us find you' | translate }}</h1>
  {{ error_message }}
  <img src="assets/img/ubicacion.PNG">
  <p class="p">
    {{ 'Before creating your account, we need to know where you are.' | translate }}
    <br>
    <br>
    {{ 'We will never share your location, without your permission.' | translate }}
  </p>
</ion-content>
<ion-footer class="ion-no-border ion-text-center">
  <ion-button (click)="check_gps ()" mode="ios">{{ 'Let’s go' | translate }}</ion-button>
  <p class="p-footer" (click)="back_step ()">{{ 'Go back' | translate }}</p>
</ion-footer>
