<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="filter ()">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="card-cabezera">
    <img src="assets/img/iconos_Filtrar.png" class="img-cuadrado">
    <ion-label class="label-titulo">{{ 'Filter your search' | translate }}</ion-label>
    <ion-button (click)="close ()" class="btn-close" mode="ios">
      <ion-icon name="close-outline" class="icon-close"></ion-icon>
    </ion-button>
  </div>
  <div class="div-disml div-bottom">
    <h4 class="titulo-campos ion-no-margin">{{ 'Characteristics & preferences' | translate }}</h4>
  </div>
  <ion-item class="ion-no-padding item-select" button="false" lines="none">
    <label mode="ios" class="label-select">{{ 'Objective relationship' | translate }}</label>
    <ion-select [(ngModel)]="relationship" multiple="true" mode="ios" placeholder="Select">
      <ion-select-option *ngFor="let item of database.RELACIONES" [value]="item.id" class="select-interface-option">
        {{ item.nombre }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="ion-no-padding item-select" button="false" lines="none">
    <label mode="ios" class="label-select">{{ 'Languages' | translate }}</label>
    <ion-select [(ngModel)]="idiomas" multiple="true" mode="ios" placeholder="Select">
      <ion-select-option *ngFor="let item of database.IDIOMAS" [value]="item.id" class="select-interface-option">
        {{ item.nombre }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngFor="let item of database.EXTRAS" class="ion-no-padding item-select" button="false" lines="none">
    <label mode="ios" class="label-select">{{ item.nombre }}</label>
    <ion-select [value]="get_map_value (item.nombre, extra_map)" (ionChange)="select_changed ($event, item.nombre, extra_map)" multiple="true" mode="ios" placeholder="Select">
      <ion-select-option *ngFor="let item of item.items" [value]="item.id" class="select-interface-option">
        {{ item.valor }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <div class="div-btn-mapa">
    <ion-label class="label-subtitulo">{{ 'Ages between' | translate }}: {{ edad_range?.lower }}-{{ edad_range?.upper }}</ion-label>
  </div>
  <ion-range pin="true" dualKnobs="true" [(ngModel)]="edad_range" min="18" max="100" step="1" snaps="false" mode="ios" class="range-input range-top">
    <!-- <ion-label slot="start"></ion-label>
    <ion-label slot="end"></ion-label> -->
  </ion-range>

  <div class="div-disml div-bottom">
    <h4 class="titulo-campos ion-no-margin">{{ 'Personalities' | translate }}</h4>
  </div>
  <ion-item *ngFor="let item of database.PERSONALIDADES" class="ion-no-padding item-select" button="false" lines="none">
    <label mode="ios" class="label-select">{{ item.nombre }}</label>
    <ion-select [value]="get_map_value (item.nombre, personalidad_map)" (ionChange)="select_changed ($event, item.nombre, personalidad_map)" multiple="true" mode="ios" placeholder="Select">
      <ion-select-option *ngFor="let item of item.items" [value]="item.id" class="select-interface-option">
        {{ item.valor }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <div class="div-disml div-bottom">
    <h4 class="titulo-campos ion-no-margin">{{ 'Appearance' | translate }}</h4>
  </div>
  <ion-item *ngFor="let item of database.APARIENCIAS" class="ion-no-padding item-select" button="false" lines="none">
    <label mode="ios" class="label-select">{{ item.nombre }}</label>
    <ion-select [value]="get_map_value (item.nombre, apariencia_map)" (ionChange)="select_changed ($event, item.nombre, apariencia_map)" multiple="true" mode="ios" placeholder="Select">
      <ion-select-option *ngFor="let item of item.items" [value]="item.id" class="select-interface-option">
        {{ item.valor }}
      </ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
