
<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{ 'Edit perfil' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close ()" color="dark">
        {{ 'Close' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="form === 'personal_data'">
    <form style="align-self: start;" [formGroup]="personal_form">
      <ion-grid class="grid-pagging">
        <ion-row style="display: flex;">
          <ion-col size="12" class="ion-no-padding">
            <h1 class="ion-text-center">{{ 'Personal Data' | translate }}</h1>
          </ion-col>

          <ion-col size="12" class="ion-no-padding">
            <ion-item mode="ios">
              <ion-label position="stacked">{{ 'Nick' | translate }}</ion-label>
              <ion-input formControlName="usernick"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12" class="ion-no-padding">
            <ion-item mode="ios">
              <ion-label position="stacked">{{ 'Date of birth' | translate }}</ion-label>
              <ion-datetime formControlName="fecha_nacimiento"></ion-datetime>
            </ion-item>
          </ion-col>

          <ion-col size="12" class="ion-no-padding">
            <ion-item mode="ios">
              <ion-label position="stacked">{{ 'Gender' | translate }}</ion-label>
              <ion-select interface="popover" formControlName="sexo" placeholder="Select One">
                <ion-select-option *ngFor="let item of generos" [value]="item.id">
                  {{ item.nombre }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size="12" class="ion-no-padding">
            <ion-item mode="ios">
              <ion-label position="stacked">{{ 'Height' | translate }}</ion-label>
              <ion-select  formControlName="sistema" interface="popover" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="imperial">{{ 'Imperial' | translate }}</ion-select-option>
                <ion-select-option value="metric">{{ 'Metric' | translate }}</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item mode="ios">
              <ion-label position="stacked"></ion-label>
              <ion-select  formControlName="altura" interface="popover" okText="Okay" cancelText="Dismiss">
                <ion-select-option *ngFor="let item of get_alturas ()" [value]="item.id">
                  {{ item.text }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size="12" class="ion-no-padding">
            <ion-item mode="ios">
              <ion-label position="stacked">{{ 'Net. worth' | translate }}</ion-label>
              <ion-select formControlName="patrimonio" interface="popover" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="< $500,000">
                  < $500,000
                </ion-select-option>
                <ion-select-option value="$500,000-$1,000,000">
                  $500,000-$1,000,000
                </ion-select-option>
                <ion-select-option value="$1,000,000-$2,500,000">
                  $1,000,000-$2,500,000
                </ion-select-option>
                <ion-select-option value="$2,500,000-$5,000,00">
                  $2,500,000-$5,000,00
                </ion-select-option>
                <ion-select-option value="$5,000,000-$10,000,000">
                  $5,000,000-$10,000,000
                </ion-select-option>
                <ion-select-option value="> $10,000,000">
                  > $10,000,000
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size="12" class="ion-no-padding">
            <ion-item mode="ios">
              <ion-label position="stacked">{{ 'Annual income' | translate }}
              </ion-label>
              <ion-select  formControlName="ingreso_anual" interface="popover" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="< $50,000">
                  < $50,000
                </ion-select-option>
                <ion-select-option value="$50,000-$100,000">
                  $50,000 - $100,000
                </ion-select-option>
                <ion-select-option value="$100,000-$250,000">
                  $100,000 - $250,000
                </ion-select-option>
                <ion-select-option value="$250,000-$500,000">
                  $250,000 - $500,000
                </ion-select-option>
                <ion-select-option value="$500,000-$1,000,000">
                  $500,000 - $1,000,000
                </ion-select-option>
                <ion-select-option value="> $1,000,000">
                  +$1,000,000
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ng-container>

  <ng-container *ngIf="form === 'estoy_buscando'">
    <form style="align-self: start;" [formGroup]="estoy_buscando_form">
      <ion-grid class="grid-pagging">
        <ion-row style="display: flex;">
          <ion-col size="12" class="ion-no-padding">
            <h1 class="ion-text-center">{{ 'Describe exactly what you are looking for' | translate }}</h1>
          </ion-col>

          <ion-col size="12" class="ion-no-padding">
            <ion-textarea formControlName="estoy_buscando" class="textarea" row="10"></ion-textarea>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ng-container>

  <ng-container *ngIf="form === 'sobre_mi'">
    <form style="align-self: start;" [formGroup]="sobre_mi_form">
      <ion-grid class="grid-pagging">
        <ion-row style="display: flex;">
          <ion-col size="12" class="ion-no-padding">
            <h1 class="ion-text-center">{{ 'About me' | translate }}</h1>
          </ion-col>

          <ion-col size="12" class="ion-no-padding">
            <ion-textarea formControlName="sobre_mi" class="textarea" row="10"></ion-textarea>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ng-container>
</ion-content>

<ion-footer class="ion-no-border ion-text-center">
  <ion-button [disabled]="check_disabled ()" (click)="submit ()" class="btn-continuar-footer">{{ 'Save' | translate }}</ion-button>
  <p (click)="back_step ()" class="p-footer">{{ 'Go back' | translate }}</p>
</ion-footer>
