<!--<ion-header>
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-card class="card-perfil">
    <ion-avatar class="img-avatar-perfil">
      <img src="assets/img/slider-img.png">
    </ion-avatar>
    <div class="div-sombra">
      <p class="p-cover">Cover image</p>
      <img src="assets/img/Icon-feather-edit-3.png" class="img-edit">
    </div>
  </ion-card>
  <ion-grid class="grid-padding">
    <div class="div-titulos">
      <p class="p-titulo">Public photos</p>
      <img src="assets/img/icon-edit-plomo.png" class="img-edit-plomo">
    </div>
    <ion-row>
      <ion-col size="6">
        <ion-card class="card-list-perfil">
          <ion-avatar class="avatar-perfil">
            <img src="assets/img/rectangulo-17236.png">
          </ion-avatar>
          <ion-button class="btn-close"><ion-icon name="close-sharp" class="icon-close"></ion-icon></ion-button>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="card-list-perfil">
          <ion-avatar class="avatar-perfil">
            <img src="assets/img/rectangulo-17236.png">
          </ion-avatar>
          <ion-button class="btn-close"><ion-icon name="close-sharp" class="icon-close"></ion-icon></ion-button>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="card-list-perfil-blanco">
          <ion-button class="btn-add"><ion-icon name="add-sharp" class="icon-add"></ion-icon></ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
    <div class="div-titulos">
      <p class="p-titulo">My private fotos</p>
    </div>
    <ion-row>
      <ion-col size="6">
        <ion-card class="card-list-perfil">
          <ion-avatar class="avatar-perfil">
            <img src="assets/img/rectangulo-17236.png">
          </ion-avatar>
          <ion-button class="btn-close"><ion-icon name="close-sharp" class="icon-close"></ion-icon></ion-button>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="card-list-perfil">
          <ion-avatar class="avatar-perfil">
            <img src="assets/img/rectangulo-17236.png">
          </ion-avatar>
          <ion-button class="btn-close"><ion-icon name="close-sharp" class="icon-close"></ion-icon></ion-button>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="card-list-perfil-blanco">
          <ion-button class="btn-add"><ion-icon name="add-sharp" class="icon-add"></ion-icon></ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
    <div class="div-titulos">
      <p class="p-titulo">I gave access to:</p>
    </div>
    <ion-row>
      <ion-col size="12">
        <ion-list class="ion-no-padding">
          <ion-item class="item-lits" lines="none">
            <ion-label class="label-list">Pokémon Yellow</ion-label>
            <ion-button class="btn-close-item"><ion-icon name="close-sharp" class="icon-close-item"></ion-icon></ion-button>
          </ion-item>
          <ion-item class="item-lits" lines="none">
            <ion-label class="label-list">Pokémon Yellow</ion-label>
            <ion-button class="btn-close-item"><ion-icon name="close-sharp" class="icon-close-item"></ion-icon></ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
  <div class="div-contador">
    <ion-icon name="chevron-back-outline" class="icon-left"></ion-icon>
    <div class="div-contador-blanco">1</div>
    <div class="div-contador-blanco">2</div>
    <div class="div-contador-blanco">3</div>
    <ion-icon name="chevron-forward-outline" class="icon-right"></ion-icon>
  </div>
</ion-footer>

